@media print {
    .no-print {
        display: none !important;

        * {
            display: none !important;
        }
    }

    .carousel-inner .recipe img {
        height: 30vh !important;
        max-height: 300px !important;
    }

    .instructions ol > li {
        position: relative;
        padding: 5px 10px;
        line-height: 18px;
        margin-bottom: 0 !important;
    }

    ul.ingredient-check li {
        margin-bottom: 2px !important;
    }

    .print-full {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 80%;
    }

    #print-wrapper {
        position: absolute;
        overflow: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 5px solid #ff9638;
    }
}
