@charset "UTF-8";

* {
  box-sizing: border-box;
}

main > .container {
  max-width: 1400px !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #888;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.fa-cutlery,
.fa-clock {
  color: #ff9638;
  margin-right: 2px;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #3498db;
}

::-moz-selection,
::-webkit-selection,
::selection {
  color: #fff;
  text-shadow: none;
  background: #3498db;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 2px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: #000;
}

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}

.image-checkbox input[type=checkbox] {
  display: none;
}

.image-checkbox-checked {
  border-color: #ff9638;
}

.image-checkbox .fa {
  position: absolute;
  color: #ff9638;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}

.image-checkbox-checked .fa {
  display: block !important;
}

.btn-base {
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  background-color: #ff9638;
  border: 0;
}

.hidden {
  display: none !important;
}

.input-group-text {
  background: transparent;
  border: 0;
}

.input-group > .form-control:not(:last-child) {
  border-radius: 4px;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.avatar img {
  border-radius: 50%;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hover-button {
  background-color: rgba(255, 150, 56, 0.82);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  visibility: hidden;
  position: absolute;
  left: 50%;
  padding: 8px;
  width: 100px;
  text-align: center;
  opacity: 0;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-size: 13px;
  transition: 0.5s;
  top: 50%;
  bottom: unset;
}

.hover-button-second {
  top: unset;
  bottom: 50% !important;
}

.hover-button:hover {
  background-color: #ff9638;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.red {
  color: #e3342f;
}

.level {
  display: flex;
  align-items: center;
}

.flex {
  flex: 1;
}

.bg-none {
  background: none;
}

.bg-none:hover,
.bg-none:focus {
  background: none;
}

.alert-flash {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 1000;
}

ul.validation-errors li {
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  list-style: none;
}

/*=================================*/

/* ================================= 2. Recipe Index ================================= */

.recipe-container {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease-in-out;
}

.recipe-container:hover {
  box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease-in-out;
}

.recipe-img {
  position: relative;
  overflow: hidden;
}

.recipe-img img {
  max-width: 100%;
  width: 100%;
  height: 30vh;
  min-height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-img:hover .hover-button:not(.hover-button-first, .hover-button-second) {
  top: 50%;
}

.recipe-img-list:hover .hover-button:not(.hover-button-first, .hover-button-second) {
  top: 50%;
}

.recipe-img:hover .hover-button,
.recipe-img-list:hover .hover-button {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
  left: 50%;
}

.recipe-img:hover .hover-button-first,
.recipe-img-list:hover .hover-button-first {
  top: 30% !important;
  bottom: unset;
}

.recipe-img:hover .hover-button-second,
.recipe-img-list:hover .hover-button-second {
  top: unset;
  bottom: 30% !important;
}

.recipe-img img {
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recipe-meta {
  display: block;
  padding: 5px 10px;
  background: #ff9638;
  color: #fff;
}

.recipe-meta span {
  padding: 2px 5px;
  font-size: 13px;
}

.recipe-footer {
  padding: 0 15px;
}

.recipe-content {
  padding: 5px 15px;
}

.recipe-content h3 {
  min-height: 71px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Lora", "PT Serif", serif;
  font-style: italic;
  word-wrap: break-word;
}

.single-post .recipe-content h3,
.item-text h3,
.main-service h3 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Lora", "PT Serif", serif;
  font-style: italic;
  word-wrap: break-word;
}

.card {
  max-width: 100%;
}

.recipe-content h3 small,
.item-text h3 small {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  font-style: italic;
  width: 100%;
}

.recipe-content h3 small i,
.item-text h3 small i {
  padding-right: 10px;
}

/*=================================*/

/* ================================= 3. Top Bar ================================= */

.kolokas-nav nav:first-child {
  transition: padding 0.2s ease;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.topbar {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}

.topbar .collapse {
  height: 40px;
}

.topbar .navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.topbar .navbar-nav > li > a {
  display: block;
  padding: 8px 12px;
  background-color: transparent;
  color: #95a0aa;
}

.topbar .navbar-nav > li > a:hover {
  background: #ff9638;
  color: #fff;
}

.topbar .navbar-nav > .active > a {
  background: #242636;
}

.topbar .navbar-nav > .active > a:hover,
.topbar .navbar-nav > .active > a:focus {
  background: #242636;
}

.topbar .navbar-nav > .disabled > a {
  color: #fff;
  background: #ff9638;
}

.topbar .navbar-nav > .disabled > a:hover,
.topbar .navbar-nav > .disabled > a:focus {
  color: #fff;
  background: #ff9638;
}

.topbar .navbar-nav .dropdown-item.active,
.topbar .navbar-nav .dropdown-item:active,
.topbar .navbar-nav .dropdown-item:focus,
.topbar .navbar-nav .dropdown-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff9638;
}

.topbar .navbar-nav .dropdown-menu {
  margin: 0;
  border-radius: 4px;
}

/*=================================*/

/* ================================= 4. Nav Bar ================================= */

.navbar.navbar-main {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.navbar.navbar-main .nav-item {
  margin: 0 25px;
}

.navbar.navbar-main .dropdown-item.active,
.navbar.navbar-main .dropdown-item:active,
.navbar.navbar-main .dropdown-item:focus,
.navbar.navbar-main .dropdown-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff9638;
}

.navbar.navbar-main .megamenu {
  padding: 20px 0px;
  min-width: 50vw;
}

.navbar.navbar-main .megamenu .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

.navbar-brand {
  left: 0;
  top: 0;
}

.navbar-brand svg {
  max-width: 35vw;
}

.navbar-brand-demo {
  width: 70vw;
  left: unset;
  margin: 1px;
}

.navbar-brand-demo svg {
  max-width: 70vw;
}

.navbar-nav .nav-link {
  font-weight: 700;
  font-size: 16px;
  padding: 23px 25px;
}

.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active {
  color: #ff9638;
  border-bottom: 3px solid #ff9638;
}

.lock-scroll {
  overflow: hidden;
}

.lock-scroll main {
  opacity: 50%;
  touch-action: none;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

/*=================================*/

/* ================================= 5. Carousel ================================= */

.carousel-caption {
  /*  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.2) 32%, rgba(169,169,169,1) 100%); !* FF3.6+ *!
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.2)), color-stop(100%,rgba(169,169,169,1))); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.2) 32%,rgba(169,169,169,1) 100%); !* Chrome10+,Safari5.1+ *!
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.2) 32%,rgba(169,169,169,1) 100%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.2) 32%,rgba(169,169,169,1) 100%); !* IE10+ *!
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.2) 32%,rgba(169,169,169,1) 100%); !* W3C *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); !* IE6-9 *!*/
}

.carousel-item .btn-link {
  color: #fff;
  text-decoration: none;
  font-size: calc(1% + 0.8vw + 0.8vh);
}

.carousel-item img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 40vh;
}

.carousel-item h1 {
  text-shadow: 0 1px 12px #555;
  font-size: calc(60% + 1vw + 1vh);
}

.carousel-item p {
  text-shadow: 0 1px 5px #555;
  font-size: calc(2% + 1vw + 1vh);
  line-height: 1.3em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
}

.carousel-indicators {
  bottom: unset;
  top: 10px;
}

/*=================================*/

/* ================================= 6. Content ================================= */

#content,
#most-rated,
#latest,
#top-rated,
#most-read,
#latest-news,
#top-authors {
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #f4f4f4;
}

.heading {
  display: block;
  text-align: center;
  margin: 30px 0;
}

.heading h2 {
  position: relative;
  display: inline;
  padding: 12px 20px;
  font-size: 28px;
  line-height: 32px;
  font-style: normal;
  font-weight: 600;
  font-family: "PT Serif", serif;
}

.heading.heading-sm h2 {
  padding: 10px 14px;
  font-size: 18px;
  line-height: 24px;
}

.heading.bg-white h2::before {
  background: #fff;
}

.heading.heading-alt {
  text-align: left;
  margin: 0 0 30px;
}

.heading.heading-alt h3 {
  font-size: 26px;
  line-height: 30px;
}

.item-img-box-list .recipe-buttons a {
  background: #f9f9f9;
  color: #ccc;
}

.item-img-box-list .recipe-buttons a:hover {
  background: #898ba2;
  color: #d9dae9;
}

.item-text {
  position: relative;
  width: 50%;
  display: table-cell;
  padding: 15px;
  vertical-align: top;
}

.recipe-buttons {
  position: relative;
  display: table;
  width: 100%;
  padding: 0;
}

.recipe-buttons a {
  display: table-cell;
  width: 10%;
  padding: 8px 12px;
  text-align: center;
  background: #f9f9f9;
  font-size: 16px;
  color: #aaa;
  overflow: hidden;
}

/*=================================*/

/* ================================= 7. Author details ================================= */

.author-details {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
}

.author-details .title {
  margin-bottom: 0.5em;
}

.author-details .contact {
  font-size: 0.9em;
  color: #999;
  line-height: 2;
}

.author-details .contact i {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}

/*=================================*/

/* ================================= 8. Recipe Create ================================= */

.footnote {
  font-size: 0.9rem;
}

.selectpicker {
  max-height: 25vh;
}

/*=================================*/

/* ================================= 10. Recipe Page ================================= */

.single-post {
  margin-bottom: 20px;
  /* Print Button */
}

.single-post .ingredients-list,
.single-post .instructions {
  background: #f9f9f9;
  padding: 30px 5px;
  border-top: 1px solid #ff9638;
}

.single-post .ingredients-list ul.ingredient-check li {
  display: block;
  margin-right: 0;
}

.single-post .ingredients-list ul.ingredient-check li:last-child {
  margin-bottom: 0;
}

.single-post ul.ingredient-check li {
  display: inline-block;
  color: #898989;
  font-size: 14px;
  line-height: 18px;
  margin-right: 25px;
  cursor: pointer;
  font-weight: normal;
  border: 1px solid transparent;
  padding: 0px 0px 0 0;
  margin-bottom: 20px;
}

.single-post ul.ingredient-check li.active {
  color: #ff9638;
  text-decoration: line-through;
}

.single-post ul.ingredient-check li.active span {
  border: 1px solid #e2e2e2;
  background: #ff9638;
}

.single-post ul.ingredient-check li.active span:before {
  color: #fff;
}

.single-post ul.ingredient-check li span {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #e2e2e2;
  margin-right: 18px;
  display: inline-block;
  vertical-align: bottom;
}

.single-post ul.ingredient-check li span:before {
  content: "\F14A";
  font-family: "FontAwesome";
  font-size: 23px;
  color: transparent;
  position: relative;
  top: -1px;
  right: 2px;
}

.single-post ul.ingredient-check li span input[type=checkbox] {
  display: none;
}

.single-post .instructions ol {
  list-style-type: none;
  margin: 15px 0 0 34px;
  padding: 0;
  counter-reset: li-counter;
}

.single-post .instructions ol > li {
  position: relative;
  margin-bottom: 15px;
  padding: 8px 14px;
  line-height: 24px;
}

.single-post .instructions ol > li:last-child {
  margin-bottom: 35px;
}

.single-post .instructions ol > li:before {
  position: absolute;
  top: 3px;
  left: -34px;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 32px;
  color: #999;
  font-weight: 700;
  font-size: 16px;
  background-color: #f4f4f4;
  content: counter(li-counter);
  counter-increment: li-counter;
  cursor: default;
}

.single-post .custom-control-label {
  line-height: 23px;
}

.single-post .author-data {
  display: none;
}

.single-post .recipe-meta {
  background-color: #f7f7f7;
  padding: 10px 20px;
  min-height: 40px;
  position: relative;
  color: unset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.single-post .recipe-meta ul {
  padding: 0;
  position: relative;
  display: table;
  width: 100%;
}

.single-post .recipe-meta ul li {
  margin-right: 21px;
  border-right: 1px solid #d8d8d8;
  font-family: "Lora", "PT Serif", serif;
  font-style: italic;
  display: table-cell;
  width: 10%;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}

.single-post .recipe-meta ul li:last-child {
  border: none;
  margin-right: 0px;
}

.single-post .recipe-meta ul li strong {
  display: block;
}

.single-post .recipe-footer {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.single-post .recipe-footer a,
.single-post .recipe-footer button {
  margin-left: 5px;
  border: 0;
  background-color: #808080;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
  float: right;
  margin-top: 1px;
  transition: all 200ms ease-in-out;
}

.single-post a.print {
  background-color: #808080;
}

.single-post a.email {
  background-color: #ff9638;
}

.single-post a.share {
  background-color: #ff7838;
}

.single-post a.allergen {
  background-color: #ff9638;
}

.single-post .recipe-buttons a {
  background: none;
}

.single-post .recipe-buttons a:hover {
  background: #ccc;
  text-decoration: none;
}

.single-post a.print:hover {
  background-color: #555;
}

.single-post a.print i {
  font-size: 14px;
  margin-right: 2px;
}

/*=================================*/

/* ================================= 12. Popup ================================= */

.popup .modal-content {
  background-color: #f7f7f7;
}

.popup .social-icons a .fa:before {
  font-size: 18px;
  text-align: center;
}

.popup h2 {
  font-size: 18px;
  text-align: center;
  color: #ff9638;
  line-height: 20px;
}

.popup .social-icons {
  list-style: none;
  padding: 10px 0;
}

.popup .social-icons a {
  text-align: center;
  background: #ddd;
  display: inline-block;
  width: 36px;
  height: 36px;
  padding-top: 8px;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  float: left;
}

.popup .social-icons a:hover {
  background: #ff9638;
}

.popup .social-icons a:hover .fa {
  color: #fff;
}

.popup .social-icons li {
  display: inline-block;
  margin: 0 !important;
  padding: 0 3px;
}

.popup .social-icons li.last {
  margin-right: 0;
}

.popup .social-icons a .fa {
  color: #222;
}

.popup .social-icons a .fa:before {
  padding: 0;
}

/*=================================*/

/* ================================= 13. Kolokas Form ================================= */

.kolokas-form i.check {
  color: #32CD32;
  font-size: 1.5rem;
  border-radius: 50%;
}

.kolokas-form label.required:after {
  content: " *";
  color: red;
}

.kolokas-form img {
  height: 100px;
}

.kolokas-form .header h2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 800;
}

.kolokas-form .content p,
.kolokas-form .header p {
  font-family: "Lora", "PT Serif", serif;
}

.kolokas-form .content text,
.kolokas-form .content .input-lg {
  font-family: "Lora", "PT Serif", serif;
}

.kolokas-form label {
  font-weight: 700;
  color: #ff9638;
  text-transform: uppercase;
  font-family: "Lora", "PT Serif", serif;
}

.kolokas-form label.social {
  text-transform: unset !important;
}

.kolokas-form .description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}

.kolokas-form .upload {
  position: relative;
}

.kolokas-form .upload a {
  position: absolute;
  height: 100%;
  line-height: 36px;
  width: auto;
  right: 0;
  top: 0;
  border: none;
  background: #efefef;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.kolokas-form .upload a:hover {
  background: #eee;
}

.form-horizontal .form-group-lg .form-control {
  font-family: "Lora", "PT Serif", serif;
}

.kolokas-form .content .input-lg,
.form-horizontal .form-group-lg .form-control {
  font-size: 16px;
}

.add-more {
  background: #ff9638 !important;
  font-weight: 600 !important;
  float: right;
  border-radius: 3px;
  padding: 7px 20px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.kolokas-form .error {
  font-weight: 600;
  font-family: "Open Sans", "Raleway", sans-serif;
  font-size: 0.9em;
  color: red;
  letter-spacing: 0.5px;
  display: block;
  text-transform: uppercase;
}

#ingredients,
#method_steps {
  margin-top: 10px;
}

div.upload {
  background-color: #fcfcfc;
  border: 1px solid #dfe5e7;
  height: 44px;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  position: relative;
  width: 100%;
}

div.upload:hover {
  opacity: 0.95;
}

div.upload input[type=file] {
  display: input-block;
  width: 100%;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
}

div.upload .button {
  margin: 0px 2px;
  float: right;
  height: 30px;
}

.uploadButton,
.deleteButton {
  background-color: #ff9638;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  width: auto;
  padding: 0 20px;
  box-sizing: content-box;
  font-family: "Open Sans", "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.uploadButton {
  float: right;
  margin-right: -1px;
  margin-top: -1px;
}

.deleteButton {
  float: right;
  line-height: 30px;
}

.filename {
  font-size: 16px;
  font-family: "Lora", "PT Serif", serif;
  font-style: italic;
  -webkit-user-select: none;
  text-overflow: ellipsis;
  display: block;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  text-align: right;
  cursor: default;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  color: #818a91;
  max-width: 80%;
  text-align: left;
}

.upload + .uploadButton {
  height: 38px;
}

table {
  border-spacing: 0;
  width: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f9f9f9;
  border-collapse: separate;
}

table td,
table th {
  text-align: center;
  padding: 5px;
}

table td p:last-child,
table th p:last-child {
  margin-bottom: 0;
}

table thead th {
  background: #ff9638;
  border-bottom: 2px solid #dd8435;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

table thead th:first-child,
table thead th:last-child {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

table tr th:last-child,
table tr td:last-child {
  border-right: 0;
}

table tbody {
  background: #fff;
}

table tbody th {
  background: #fff;
}

table tbody h2 {
  font-size: 1em;
  letter-spacing: normal;
  font-weight: normal;
}

table tbody h2 a {
  font-weight: normal;
}

table tbody h4 {
  letter-spacing: normal;
  font-weight: 500;
  font-style: italic;
  color: #848484;
}

table tbody tr:last-child td {
  border-bottom: 0;
}

table tbody tr:last-child td:first-child,
table tbody tr:last-child td:last-child {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

table tfoot th,
table tfoot td {
  border-right: 1px solid #f39643;
}

table tfoot tr {
  background: #ff9638;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

table tfoot tr a {
  color: #fff;
}

table tfoot tr a:hover {
  color: #fff;
}

table td.small {
  font-size: 13px;
  color: #999;
}

.table-scroll {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.kolokas-form .btn-success,
.kolokas-form .btn-warning {
  display: inline-block;
  padding: 0.382em 1.387em;
  line-height: 1.618em;
  box-sizing: border-box;
  white-space: nowrap;
  margin-bottom: 5px;
}

.kolokas-form table td,
.kolokas-form table th {
  padding: 0.857em 1.387em;
  text-align: left;
  vertical-align: top;
}

/* ================================= Search Form ================================= */

.search .basic-search {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.search .basic-search ul {
  max-height: 40vh;
  z-index: 1030;
}

.search .basic-search .input-field {
  width: 100%;
}

.search .basic-search .input-field input#search {
  padding: 10px 110px 10px 70px;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 3px;
  height: 70px;
  color: #555;
}

.search .basic-search .input-field input#search:focus {
  outline: none;
}

.search .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  height: 100%;
}

.search .basic-search .input-field .icon-wrap i {
  font-size: 1.8rem;
}

.search .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #ccc;
}

.search .advance-search {
  margin-top: 4px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.search .advance-search ul {
  max-height: 40vh;
}

.search .advance-search .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.search .advance-search .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9638;
  cursor: pointer;
}

.search .advance-search .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9638;
  cursor: pointer;
}

.search .advance-search .max-time-input {
  max-width: 50%;
}

.search .result-count {
  display: inline-flex;
  justify-content: flex-start;
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.search .result-count span {
  color: #ff9638;
  padding-right: 5px;
}

footer {
  margin-top: 40px;
  padding: 50px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
}

footer h5 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #484848;
}

footer ul li {
  list-style: none;
}

footer a {
  color: inherit;
}

