@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 0 !important;
    position: relative !important;
  }

  .carousel-item img {
    width: unset;
  }

  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }

  .megamenu > li {
    margin-bottom: 30px;
  }

  .megamenu > li:last-child {
    margin-bottom: 0;
  }

  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }

  .navbar-nav {
    background-color: red;
    overflow-y: auto;
  }

  .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 10px;
  }
}

